.infos{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.left_img{
    width: 640px;
    height: 640px;
}

.left_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right_info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top_inf, .bott_inf{
    border-radius: 20px;
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    background-color: #EFEFEF;
}

.top_inf h3{
    font-size: 2.3rem;
    font-weight: 600;
    width: 466px;
}

.price{
    font-size: 2.5rem;
    font-weight: 700;
}

.charac{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.charac p{
    font-size: 1.6rem;
    font-weight: 400;
}

.grey{
    color: #6F6F6F;
}

.bott_inf h4{
    font-size: 1.5rem;
    font-weight: 600;
}

.bott_inf p{
    font-size: 1.3rem;
    color: #6F6F6F;
}